<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="productinfoagent" translate="label" sortOrder="10">
            <label>Product Info Agent</label>
        </tab>
        <section id="productinfoagent" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Product Info Agent(AI)</label>
            <tab>productinfoagent</tab>
            <resource>Gundo_ProductInfoAgent::config_productinfoagent</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="system_prompt" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Fine Tune Model</label>
                    <comment>Fine tune the model by adding a phrase to the end of the search term(e.g "Short" or
                        "Add TLDR with each response")
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="selected_model" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Selected Model</label>
                    <comment>Select the model to use for ProductInfoAgent.</comment>
                    <source_model>Gundo\ProductInfoAgent\Model\Config\Source\AvailableModels</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="token_quantity" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Maximum Reponse Tokens</label>
                    <comment>Set the amount of Maximum Tokens Large Language Can Respond With</comment>
                    <source_model>Gundo\ProductInfoAgent\Model\Config\Source\ImageQualityOptions</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="chat_container_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Chat Container Color</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="button_color" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="button_hover_color" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Hover Color</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="allow_guests" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allow Guests</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="customer_groups" translate="label" type="multiselect" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Groups</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="save_to_customer_account" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Save to Customer Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="save_to_database" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Save to Database</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

            </group>
            <group id="auth" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
            <label>Auth</label>
                <field id="api_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                    <depends>
                        <field id="general/enabled">1</field>
                    </depends>
                </field>
                <field id="api_secret" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Secret</label>
                    <depends>
                        <field id="general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
